<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administration Timeout</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/IAT/css/main.css">
    <script type="text/javascript" th:inline="javascript">/*<![CDATA[*/
        function restart() {
            sessionStorage.clear();
            window.location.assign(window.location);
        }

        function returnToReferer() {
            sessionStorage.clear();
            location.assign(/*[[${HTTP_REFERER}]]*/);
        }
            /*]]>*/</script>
</head>

<body>
    <div th:insert="header :: header(caption='Test Administration Timeout')"></div>
    <div>
        <div id="content">
            <p>An hour or more has passed since the last test segment was submitted and the data tied to your
                administration
                has been deleted. If you would like to restart the test, click
                <span class="hilightHover" onclick="restart()">here</span>.
                <th:block th:if="${HTTP_REFERER != '-' }">Or you may return to the site that directed you to the test:
                    <span class="hilightHover" onclick="returnToReferer()" th:text="${HTTP_REFERER}"></span>.
                </th:block>
            </p>
        </div>
        <div id="logo">
            <img src="/IAT/images/logo.png" />
        </div>
    </div>
</body>

</html>