<!DOCTYPE html>
<html>
    <head>
    <th:block th:replace="header :: head(pageTitle='OAuth Error', caption='OAuth Error'"></th:block>
    <script th:inline="javascript">/*<![CDATA[*/
        function errorFormSubmit() {
            document.getElementById("submitErrorButton").disabled = true;
            var submission = {};
            var contactForm = document.getElementById("errorForm");
            submission.clientId = /*[[${errorReport.clientId}]]*/ 1;
            submission.contactEmail = contactForm.elements["email"];
            submission.contactName = contactForm.elements["name"];
            submission.exceptionCaption = /*[[${errorReport.caption}]]*/ "exception caption";
            submission.exceptionMessage = /*[[${errorReport.message}]]*/ "exception message";
            submission.stackTrace = [];
            submission.stackTrace = submission.stackTrace.concat(/*[[${errorReport.stackTrace}]]*/ []);
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if ((this.readyState === 4) && (this.status === 200)) {
                    document.getElementById("errorSubmitMessage").innerHTML = "Error report successful. You will be contacted within the next two days.";
                    document.getElementById("SubmitErrorButton").disabled = false;
                } else if (this.readyState === 4) {
                    document.getElementById("errorSubmitMessage").innerHTML = "Error report failed. Please contact me at michael@iatsoftware.net";
                    document.getElementById("SubmitErrorButton").disabled = false;
                }
            };
            ajax.open("POST", "/IAT/OAuth/ErrorReport", true);
            ajax.setRequestHeader("content-type", "text/json");
            ajax.send(JSON.stringify(submission));
        }
        
    /*]]>*/
    </script>
    </head>
    <body onload="init()">
        <div th:replace="header :: pageHeader"></div>
        <div id="content"> 
            <div class="col" id="col1">
                <p>Message:</p>
                <p>Detail:</p>
            </div>
            <div class="col" id="col2">
                <p th:text="${errorReport.message}"></p>
                <th:block th:each="line : ${errorReport.stackTrace}">
                    <p th:text="${line}"></p>
                </th:block>
            </div>
            <p>If you have repeatedly reached this form in error or simply need help, please fill out and submit the form below:</p>
            <form id="errorForm" onsubmit="errorFormSubmit()">
                <div class="col" id="col1">
                    <p>Name:</p>
                    <p>Email:</p>
                </div>
                <div class="col" id="col2">
                    <p><input type="text" name="name" /></p>
                    <p><input type="text" name="email" /></p>
                </div>
                <input type="submit" id="submitErrorButton" value="Submit" />
            </form>
        </div>
    </body>
</html>