<div id="caption">
    <svg viewBox="0 0 1200 120" width="1200" height="120" style="opacity: 0.8;">
    <g overflow="hidden" class="outer">
        <defs>
            <mask id="headerMask">
                <text fill="white" th:text="${caption}" x="600" y="65" text-anchor="middle" 
                    data-bind="style { fontFamily: fontFamily, fontSize: fontSize, fontWeight: fontWeight }, text : text"></text>
                <filter id="headerInnerShadow" x="-30%" y="-30%" width="160%" height="160%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                    <feOffset in="blur" dx="2.5" dy="-2.5" />
                </filter>
            </mask>
            <lineargradient id="headerGradient" x1="0" y1=".25" x2="1" y2=".75">
                <stop offset="0" stop-color="rgb(71, 36, 59)" />
                <stop offset="0.12" stop-color="rgb(151, 60, 108)" />
                <stop offset="0.25" stop-color="rgb(152, 32, 39)" />
                <stop offset="0.37" stop-color="rgb(244, 85, 32)" />
                <stop offset="0.5" stop-color="rgb(206, 49, 117)" />
                <stop offset="0.62" stop-color="rgb(185, 18, 40)" />
                <stop offset="0.75" stop-color="rgb(101, 102, 63)" />
                <stop offset="0.87" stop-color="rgb(221, 182, 20)" />
                <stop offset="1" stop-color="rgb(136, 176, 75)" />
            </lineargradient>
        </defs>
        <g class="inner" mask="url(#headerMask)">
            <rect x="0" y="0" width="1200" height="120" fill="rgba(123, 67,, 104, .8)" />
            <text x="600" y="65" text-anchor="middle" style="font-size: 72px; font-weight: 900; font-family: coquette;" th:text="${caption}"
                  filter="url(#headerInnerShadow)" fill="url(#headerGradient)"></text>
        </g>
    </g>
</svg>
</div>