<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Exception Report Fragment</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <th:block th:fragment="exception(ex, fullColSpan, stackTraceColSpan)">
                <tr>
                <td th:attr="colspan=${fullColSpan}" style="margin: 0px; font-family: myriad-pro, calibri, sans-serif; font-size: 16px;" th:text="${ex.exceptionMessage}"></td>
            </tr>
            <tr>
                <td th:attr="colspan=${fullColSpan}" style="margin: 0px; font-family: myriad-pro, calibri, sans-serif; font-size: 14px;">Caused by:</td>
            </tr>
            <th:block th:each="stl : ${ex.stackTraceElement}">
                <tr>
                    <td th:attr="colspan=${fullColSpan - stackTraceColSpan}"></td>
                    <td th:attr="colspan=${stackTraceColSpan}" style="margin: 0px; font-family: myriad-pro, calibri, sans-serif; font-size: 14px;" th:text="${stl}"></td>
                </tr>
            </th:block>
            <th:block th:each="innerEx : ${ex.innerException}">
                <tr>
                    <td th:attr="colspan=${fullColSpan}" style="margin: 0px; font-family: myriad-pro, calibri, sans-serif; font-size: 16px;">Caused by: <span th:text="${innerEx.exceptionMessage}"></span></td>
                </tr>
                <th:block th:each="stl : ${innerEx.stackTraceElement}">
                    <tr>
                        <td th:attr="colspan=${fullColSpan - stackTraceColSpan}"></td>
                        <td th:attr="colspan=${stackTraceColSpan}" style="margin: 0px; font-family: myriad-pro, calibri, sans-serif; font-size: 14px;" th:text="${stl}"></td>
                    </tr>
                </th:block>
            </th:block>
        </th:block>
    </body>
</html>
